<!-- Google Tag Manager (noscript) -->
<noscript><iframe src="https://www.googletagmanager.com/ns.html?id={{ site.google_tag_manager }}"
height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
<!-- End Google Tag Manager (noscript) -->

<!-- Primary Navigation -->
<nav class="navbar navbar-expand-sm navbar-light bg-light">
    <div class="mx-auto d-sm-flex d-block flex-sm-nowrap">
        <a class="navbar-brand" href="{{ site.url }}{{ site.baseurl }}/">
            <img src="{{ site.url }}{{ site.baseurl }}/favicon.ico" width="30" height="30" alt="">
            {{ site.nick | escape }}
        </a>
        <button class="navbar-toggler float-right" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="navbar-collapse collapse" id="navbarColor03">
            <div class="navbar-nav ms-auto text-right">
                {% for page in site.nav_pages %}
                <a class="nav-item nav-link" href="{{ site.url }}{{ site.baseurl }}/{{page.name}}">{{page.name | capitalize }}</a>
            {% endfor %}
            <a class="btn btn-danger navbar-btn ms-auto" href="{{ site.url }}{{ site.baseurl }}/join/">Get Involved!</a>
            </div>
        </div>
    </div>
</nav>
